# Default values for pact-proker.
# This is a YAML-formatted file.

replicaCount: 1 # Number of pod replicas to create

image:
  repository: pactfoundation/pact-broker # docker image repository
  name: pact-broker # docker image name
  pullPolicy: IfNotPresent # kubernetes pull policy
  restartPolicy: Always # kubernetes restart policy
  port: 9292 # docker image port

global:
  annotations: {} # global annotations

appSettings:
  basicAuthentication:
    RWaccess:
      enabled: false # Whether to enable or not a Read/Write access account
      username: pactRW # Read/write account username
      password: PaCtBr0k3rRW # Read/write account password
    ROaccess:
      enabled: false # Whether to enable or not a Read only access account
      username: pactRO # Read only account username
      password: PaCtBr0k3rRO # Read only account username

service:
  type: LoadBalancer # Service type. Cloud be "LoadBalancer", "ClusterIp", "NodePort"
  port: 80 # Internal service default port
  annotations: {} # Service annotations

deployment:
  annotations: {} # Deployment annotations

postgresql:
  enabled: true # Whether to install or not a postgresql database as dependency
  postgresqlDatabase: pact # Default postgresql database name
  postgresqlPort: 5432 # Default postgresql database port
  postgresqlUsername: postgres # Default postgresql database username
  postgresqlPassword: jemf9rAKgD # Default postgresql database password

externalDB:
  enabled: false # Whether to use or not an external database
  endpoint: "" # External database endpoint
  port: 5432 # External database port
  databaseName: pact # External database name
  userName: pactDbUser # External database username
  password: pactDbPassword # External database password