apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{ .Release.Name }}-deployment
  namespace: {{ .Release.Namespace }}
  annotations:
    {{ if .Values.deployment.annotations }}
    {{ toYaml .Values.deployment.annotations | nindent 4 }}
    {{ end }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}

spec:
  replicas: {{ .Values.replicaCount}}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  template:
    metadata:
      {{ if .Values.deployment.annotations }}
      {{ toYaml .Values.deployment.annotations | nindent 4 }}
      {{ end }}
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      restartPolicy: {{ .Values.image.restartPolicy }}
      containers:
        - env:
            {{- if .Values.postgresql.enabled }}
            - name: PACT_BROKER_DATABASE_USERNAME
              value: {{ .Values.postgresql.postgresqlUsername }}
            - name: PACT_BROKER_DATABASE_HOST
              value: {{ .Release.Name }}-postgresql.{{ .Release.Namespace }}.svc.cluster.local
            - name: PACT_BROKER_DATABASE_PORT
              value: {{ .Values.postgresql.postgresqlPort | quote }}
            - name: PACT_BROKER_DATABASE_NAME
              value: {{ .Values.postgresql.postgresqlDatabase }}
            - name: PACT_BROKER_DATABASE_PASSWORD
              value: {{ .Values.postgresql.postgresqlPassword }}
            {{- end }}
            {{- if .Values.externalDB.enabled }}
            - name: PACT_BROKER_DATABASE_USERNAME
              value: {{ .Values.externalDB.userName }}
            - name: PACT_BROKER_DATABASE_HOST
              value: {{ .Values.externalDB.endpoint }}
            - name: PACT_BROKER_DATABASE_PORT
              value: {{ .Values.externalDB.port | quote }}
            - name: PACT_BROKER_DATABASE_NAME
              value: {{ .Values.externalDB.databaseName }}
            - name: PACT_BROKER_DATABASE_PASSWORD
              value: {{ .Values.externalDB.password }}
            {{- end}}
            {{- if .Values.appSettings.basicAuthentication.RWaccess.enabled }}
            - name: PACT_BROKER_BASIC_AUTH_USERNAME
              value: {{ .Values.appSettings.basicAuthentication.RWaccess.username}}
            - name: PACT_BROKER_BASIC_AUTH_PASSWORD
              value: {{ .Values.appSettings.basicAuthentication.RWaccess.password}}
            {{- end }}
            {{- if .Values.appSettings.basicAuthentication.ROaccess.enabled }}
            - name: PACT_BROKER_BASIC_AUTH_READ_ONLY_USERNAME
              value: {{ .Values.appSettings.basicAuthentication.ROaccess.username}}
            - name: PACT_BROKER_BASIC_AUTH_READ_ONLY_PASSWORD
              value: {{ .Values.appSettings.basicAuthentication.ROaccess.password}}
            {{- end }}
          image: {{ .Values.image.repository }}
          name: {{ .Values.image.name }}
          ports:
            - containerPort: {{ .Values.image.port }}